//output:index.html, pretty:true
doctype html
html
    head
        title Raspberry Pi Home
        link(rel='stylesheet', href='styles/style.css')
        link(rel='stylesheet', href='styles/font-awesome.css')
    body
        div#topbar
            img(src="images/raspberry.png").topbar-icon
            h2.topbar-title My Raspberry Pi Homepage
        div#content
            img(src="images/welcome.png").welcome-img
            div#link-container
                h2
                    span.fa.fa-rocket
                    | Services disponibles
                br
                a(href="/mdt/")
                    span.fa.fa-cog
                    | Motor Driver Test Interface
                br
                br
                a(href="/rps/")
                    span.fa.fa-tty
                    | Passerelle s&eacute;rie
