doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/rps/stylesheets/style.css')
    link(rel='stylesheet', href='/rps/stylesheets/font-awesome.css')
  body
    block content

    script(src="/rps/bower_components/jquery/dist/jquery.min.js")
    script(src="/rps/javascripts/socket.io.js")
    script(src="/rps/javascripts/client.js")
