//output:index.html, pretty:true

doctype html
html
    head
        title Motor Test
        link(rel='stylesheet', href='styles/style.css')
        link(rel='stylesheet', href='styles/font-awesome.css')
        link(rel='stylesheet', href='bower_components/chartist/dist/chartist.min.css')
    body
        div#topbar
            img(src="images/raspberry.png").topbar-icon
            h2.topbar-title Motor Controller Test
        div#info
            center
                h2 Etat actuel 
                    span.fa.fa-tachometer
            h3 Distances :
            | &nbsp;&nbsp;&nbsp;&nbsp; roue droite :&nbsp;&nbsp;&nbsp;
            span#Rdistance 0
            | &nbsp;mm
            br 
            | &nbsp;&nbsp;&nbsp;&nbsp; roue gauche :&nbsp;
            span#Ldistance 0
            | &nbsp;mm
            br
            br
            h3 Orientation :
            | &nbsp;&nbsp;&nbsp;&nbsp; cap (0-360&deg;) :&nbsp;&nbsp;&nbsp;
            span#heading 0
            | &nbsp;&deg;
            br
            br
            h3 Vitesses :
            | &nbsp;&nbsp;&nbsp;&nbsp; roue droite :&nbsp;&nbsp;&nbsp;
            span#Rspeed 0
            | &nbsp;m/s
            br 
            | &nbsp;&nbsp;&nbsp;&nbsp; roue gauche :&nbsp;
            span#Lspeed 0
            | &nbsp;m/s
            br
            br
            h3 Coefficients PID :
            | &nbsp;&nbsp;&nbsp;&nbsp; Kp :&nbsp;
            input(type="number")#Kp
            br 
            | &nbsp;&nbsp;&nbsp;&nbsp; Ki :&nbsp;&nbsp;
            input(type="number")#Ki
            br
            | &nbsp;&nbsp;&nbsp;&nbsp; Kd :&nbsp;
            input(type="number")#Kd
            br
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            a.btn#updatePID mettre &agrave jour
            br
            br
            center
                h2 D&eacute;placement
                    span.fa.fa-cog
            | &nbsp; distance :&nbsp;&nbsp;
            input(type="number" value="200")#moveDist
            | &nbsp;mm
            br
            | &nbsp; vitesse :&nbsp;&nbsp;&nbsp;&nbsp;
            input(type="number" value="0.5")#moveSpeed
            | &nbsp;m/s
            br
            | &nbsp;&nbsp;
            a.btn#move 
                span(style="margin-left: .5vw").fa.fa-play
                | D&eacute;marrer
            | &nbsp;&nbsp;
            a.btn#return
                span(style="margin-left: .5vw").fa.fa-backward
                | Retour
        div#charts
            center
                h2 Graphes
                    span.fa.fa-line-chart
            a.btn#playChart
                span(style="margin-left: .5vw").fa.fa-play
                | mesurer
            a.btn#stopChart
                span(style="margin-left: .5vw").fa.fa-stop
                | stop
            h3 Vitesse droite :
            div.ct-chart.ct-minor-seventh#Rspeed-chart
            h3 Vitesse gauche :
            div.ct-chart.ct-minor-seventh#Lspeed-chart
        
        script(src="bower_components/jquery/dist/jquery.min.js")
        script(src="bower_components/sugar/release/sugar-full.min.js")
        script(src="bower_components/chartist/dist/chartist.min.js")
        script(src="scripts/socket.io.js")
        script(src="scripts/monitorView.js")
        script(src="scripts/Monitor.js")
        script(src="scripts/stateView.js")
        script(src="scripts/main.js")
